<app-settings-menu></app-settings-menu>
<div class="container-fluid">
    <div class="main-card-box text-align-left">
      <div class="row">
        <div class="col-md-3 mt30 text-align-center">
          <div class="username mb10">{{name}}</div>
          <div class="image-select-container">
            <img src="{{userData.profilePictureUrl}}" alt="" class="profile-icon image" height="180px" width="180px"  style="cursor: unset">
          </div>
        </div>
        <div class="col-md-8">
          <form name="userForm" id="userForm" #userForm="ngForm" (ngSubmit)="!userData.passError&& !errordata.isErrorData && userForm.valid && updateAdminProfile()"> 
          <div class="row">
            <div class="col-md-6 col-12 mt30">
              <label class="profile-content">Name</label>
              <input type="text" class="mt5 custom-empty-input-box" (keypress)="characterOnly($event)"
                [(ngModel)]="userData.name"  #userName="ngModel" name="userName" pattern="[a-zA-Z/s ]*" required>
                <div *ngIf="userName.valid || userName.touched || userForm.submitted">
                    <div class="error-msg" *ngIf="userName.errors && userName.errors.required" class="text-danger">
                        Name is required.
                    </div>
                    <div class="error-msg" *ngIf="userName.errors && userName.errors.pattern" class="text-danger">
                      Enter valid Name.
                    </div>
                </div>  
            </div>
            <div class="col-md-6 col-12 mt30">
              <label class="profile-content">Email id</label>
              <input type="text" class="mt5 custom-empty-input-box" [disabled]="userData.email != null"
                [(ngModel)]="userData.email" #email="ngModel" name="email" pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})" required>
            </div>
            <div id="select-country" class="col-md-6 col-12 mt30">
              <label class="profile-content">Country</label>
              <ng-select id="country" class="mt5"  [items]="countries" bindLabel="name" bindValue="name" name="country" [(ngModel)]="userData.country" (change)="setCountryCode(userData.country)" required></ng-select>
              <div *ngIf="userForm.submitted" >
                  <div class="error-msg" *ngIf="userData.country ==null" class="text-danger">
                      Please select country
              </div>
          </div>  
            </div>
            <div class="col-md-6 col-12 mt30">
              <label class="profile-content">Phone</label>
              <div id="input_box_container">
                <input (keypress)="numberOnly($event)" type="text" maxlength="15"  class="mt5 custom-empty-input-box"
                  [(ngModel)]="userData.contactNo" id="phone" pattern="^[1-9][0-9]{9,14}$" name="contactNo"#contactNo="ngModel">
                <span id="country-code" class="country-code">{{userData.countryCode}}</span>
              </div>
              <div *ngIf="contactNo.valid || contactNo.touched || userForm.submitted">
                  <div class="error-msg" *ngIf="contactNo.errors && contactNo.errors.required" class="text-danger">
                    Contact number is required.
                  </div>
                  <div class="error-msg" *ngIf="contactNo.errors && contactNo.errors.pattern" class="text-danger">
                    Enter valid contact number.
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6 col-12 mt30"    >
               <div *ngIf="cardData.cardDigit != null">
                <label class="profile-content">Card number</label>
              <div id="card_details_container">
                <input type="text" disabled  class="mt5 custom-empty-input-box" [(ngModel)]="cardData.cardDigit" name="card"#card="ngModel" >
                <img  *ngIf="cardData.cardBrand === 'Visa'" src="../../../../assets/Images/cards/Visa.svg"
                  alt="" class="img-fluid" /> 
                <img  *ngIf="cardData.cardBrand === 'Mastercard'" src="../../../../assets/Images/cards/Mastercard.svg"
                  alt="" class="img-fluid" />
                <img  *ngIf="cardData.cardBrand === 'American Express'" src="../../../../assets/Images/cards/American Express.svg"
                  alt="" class="img-fluid" />
                <img  *ngIf="cardData.cardBrand === 'Discover'" src="../../../../assets/Images/cards/Discover.svg"
                  alt="" class="img-fluid" />
                <img  *ngIf="cardData.cardBrand === 'Diners Club'" src="../../../../assets/Images/cards/Diners Club.svg"
                  alt="" class="img-fluid" /> 
                <img  *ngIf="cardData.cardBrand === 'JCB'" src="../../../../assets/Images/cards/JCB.svg"
                  alt="" class="img-fluid" /> 
              </div>
              </div>
            </div> -->
            <!-- <div *ngIf="this.companyData.productName !='STARTUP_PALN_ACTIVE' && cardData.cardDigit != null" class="col-md-6 col-12 mt55">
                <div class="links-text"    >
                    <span class="pointer" (click)="addCardDetails()" >Upgrade Payment Info</span>
                    <span *ngIf="currentPlanDetails.isCardDetails && currentPlanDetails.status !== 'SUBSCRIPTION_CANCELLED'" class="pointer ml30" (click)="cancelSubscription()">Cancel Subscription</span>
                </div>
              </div> -->
            </div>
            <div class="row mt30">
              <div class="col-md-2 custom-col-3 col-4">
                <button class="btn btn-black">Save</button>
              </div>
              <div class="col-md-2 col-4" style="line-height: 35px;">
                <span class="profile-content pointer" style="color: #2F80ED;" (click)="setProfileData()">Cancel</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  